a{
    text-decoration: none;
    color: rgb(14,28,79);/*PRIMARY COLOR*/
}
body{
    display: block;
}
h2{
    color: rgb(14,28,79);
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    padding-right: 10px;
}

.button1{
    justify-content: flex-start;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(14,28,79);
}
.button1:hover{
    background: rgb(228,199,129);/*SECONDARY COLOR*/
}
.button1:active{
    background: rgb(14,28,79);
}
.fa-cart-shopping{
    font-size: 35px;
}

.loginform{
    justify-content: flex-end;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;

}
.loginform:hover{
    background: rgb(228,199,129);
}
.loginform:active{
    background: rgb(14,28,79);
}
.icon1{
    font-size: 30px;
}

.fjala1{
    display: inline center;
    font-size: 50px;
    text-align: center;
    font-style: "Zyada " ;
    font-family: Georgia, 'Times New Roman', Times, serifs;
    color:rgb(14,28,79);
    padding-right:25px ;
}
.fjala2{
    display: inline center;
    font-size: 50px;
    text-align: center;
    font-style: obliques;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(228,199,129);
    padding-right: 25px;
}

ul{
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    font-style: oblique;
    color: rgb(14,28,79);
    padding: 30px;
}

li{
    display: inline;
    list-style: none;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serifs;
}

.main{
    position: relative;
}
.foto1{
    display: block; 
    width: 100%;
    height: 900px;
}
.foto1_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgb(14,28,79);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    
}
.foto1_overlay:hover{
    opacity: 1;
}
.butoni2{
    font-size: 30px;
    background-color:rgb(228,199,129);
    font-family: monospace;
    cursor: grab;
    padding-bottom: 20px;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.bodyifaqes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.foto2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    size: 500px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto2 button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: rgb(14,28,79);
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}
.foto2 button:hover{
opacity: 0.7;
}
.foto3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto3 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14,28,79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px; 
}
.foto3 button:hover {
    opacity: 0.7;
}
.foto4 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto4 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14,28,79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.foto4 button:hover {
    opacity: 0.7;
}
.foto5 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto5 button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14,28,79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.foto5 button:hover {
    opacity: 0.7;
}
.foto6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto6 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14,28,79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.foto6 button:hover {
    opacity: 0.7;
}
.foto7 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 100px;
    padding: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.foto7 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(14,28,79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.foto7 button:hover {
    opacity: 0.7;
}