body{
    display: block;
}
a{
    text-decoration: none;
    color: rgb(14,28,79);
}

.button1{
    justify-content: flex-start;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(14,28,79);
}
.button1:hover{
    background: rgb(228,199,129);
}
.button1:active{
    background: rgb(14,28,79);
}
.fa-cart-shopping{
    font-size: 35px;
}
.loginform{
    justify-content: flex-end;
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    cursor:grab;
    background: fixed;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.loginform:hover{
    background: rgb(228,199,129);
}
.loginform:active{
    background: rgb(14,28,79);
}
.icon1{
    font-size: 30px;
    color: rgb(14,28,79);
}
.fjala1{
    display: inline center;
    font-size: 50px;
    text-align: center;
    font-style: "Zyada " ;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14,28,79);
    margin:0;
}
.fjala2{
    display: inline center;
    font-size: 120px;
    text-align: center;
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(228,199,129);
    margin:0;
    margin-top: -20px;
}